<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Commune - Neighborhood Watch</title>
  <link rel="stylesheet" th:href="@{/css/events.css}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      $(".menu-toggle").click(function() {
        $(".sidebar").toggleClass("open");
        $(".menu-toggle").toggle();
      });
      $(".close-btn").click(function() {
        $(".sidebar").removeClass("open");
        $(".menu-toggle").show();
      });

      $(".create-post-btn").click(function() {
        $(".create-post-card").show();
      });

      $(".close-post-btn").click(function() {
        $(".create-post-card").hide();
      });
    });
  </script>
</head>

<body>
<header>
  <h1><a th:href="@{/}">Commune</a></h1>
</header>

<div class="dashboard">
  <button class="menu-toggle">&#9776; Channels</button>
  <div class="sidebar">
    <button class="close-btn">&times;</button>
    <ul class="menu">
      <li th:if="${role == 'Admin'}"><a th:href="@{/admin/add}">Add Admin</a></li>
      <li th:if="${role == 'Admin'}"><a th:href="@{/admin/deleteUsers}">Remove Users</a></li>
      <li><a th:href="@{/lostandfound}">Lost and Found</a></li>
      <li><a th:href="@{/alerts}">Neighborhood Watch</a></li>
      <li><a th:href="@{/marketplace}">Marketplace</a></li>
      <li><a th:href="@{/babysitting}">Babysitting</a></li>
      <li><a th:href="@{/resourcesharing}">Resource Sharing</a></li>
      <li><a th:href="@{/carpool}">Carpools</a></li>
      <li><a th:href="@{/events}">Community Events</a></li>
      <li><a th:href="@{/polls}">Polls And Surveys</a></li>
      <li><a th:href="@{/messages}">Contact People</a></li>
      <li><a th:href="@{/}">Logout</a></li>
    </ul>
  </div>
  <main class="content">
    <h2>Events Channel</h2>
    <div class="chat-display">
      <div class="post-card" th:each="event : ${events}">
        <h4>Event</h4>
        <p><strong>Event Title:</strong> <span th:text="${event.eventTitle}"></span></p>
        <p><strong>Description:</strong> <span th:text="${event.description}"></span></p>
        <p><strong>Organizer Name:</strong> <span th:text="${event.organizerName}"></span></p>
        <p><strong>Event Date:</strong> <span th:text="${event.eventDate}"></span></p>
        <p><strong>Location:</strong> <span th:text="${event.location}"></span></p>
        <p class="post-info">
          <strong>Posted by:</strong> <span th:text="${event.organizerName}"></span>
        </p>
      </div>
    </div>
    <button class="create-post-btn">Create New Post</button>

    <div class="create-post-card" style="display: none;">
      <div class="post-card-content">
        <button class="close-post-btn">&times;</button>
        <h3>Create a Post</h3>
        <form action="/events" method="POST">
          <input type="text" id="eventTitle" name="eventTitle" placeholder="Enter Event Title" required>
          <br>
          <input type="text" id="description" name="description" placeholder="Enter Description" required>
          <br>
          <input type="text" id="location" name="location" placeholder="Enter location" required>
          <br>
          <input type="datetime-local" id="eventDate" name="eventDate" placeholder="Enter Event Date" required>
          <br>
          <button type="submit" id="post-submit">Post</button>
        </form>
      </div>
    </div>
  </main>
</div>

</body>

</html>